# Выбор СУБД: mongodb или postgres
DATABASE_DRIVER="mongodb"

# MongoDB
DATABASE_URL="mongodb://localhost:27017/prac"

# PostgreSQL
DATABASE_HOST="localhost"
DATABASE_PORT="5432"
DATABASE_USERNAME="film_user"
DATABASE_PASSWORD="film_password"
DATABASE_NAME="film"

DEBUG=*
